<% if User.current.logged? %>

<!--
This script defines the updateTimeTrackerMenu() function which will update
the time tracker menu item using an AJAX request to retrieve the data
-->
<%= javascript_tag do -%>
  function updateTimeTrackerMenu() {
    $.ajax('<%= url_for :controller => '/time_trackers', :action => 'render_menu', :project_id => (@project.nil? ? nil : @project.id), :issue_id => (@issue.nil? ? nil : @issue.id) %>', {global: false})
      .done(function(data) {
        updateElementIfChanged("#time-tracker-menu", data, "#time-tracker-start");
      });
  }
<% end -%>

<!--
This script replaces the <a id="time-tracker-menu">...</a> element by a span with the same id.
This is needed as we want several links for our time tracker menu item.
The span is populated with current time tracker state.
(no AJAX request here, this allows to have the time tracker immediately visible)
-->
<%= javascript_tag do -%>
  $(function () {
    $('#time-tracker-menu').replaceWith(
      '<span id="time-tracker-menu"><%= escape_javascript(render(:partial => 'time_trackers/embed_menu').delete("\n").strip).html_safe %></span>');
    $("#time-tracker-start").bind("ajax:success", function(et, data){
        updateElementIfChanged("#time-tracker-menu", data, "#time-tracker-start");
      });
    setInterval(updateTimeTrackerMenu, <%= menu_refresh_rate %> * 1000);
  });
<% end -%>

<% end %>
